/* Reset box-sizing and disable zooming */
*, *::before, *::after {
  box-sizing: border-box;
}

@viewport {
  zoom: 1.0 !important;
  width: device-width !important;
}

/* Fonts */

@font-face {
  font-family: 'SelectricMono';
  src: url('fonts/SelectricMono.otf') format('opentype');
  font-weight: normal;
}


/* Body styles */
body {
  overflow-x: hidden;
  overscroll-behavior-x: none;
  font-family: 'SelectricMono', Georgia, serif;
  letter-spacing: -0.1rem;
  line-height: 1.2;
  cursor: default;
  text-align: left;
  color: #232323;
}

.container {
  max-width: 100%;
  padding: 1em;
  margin: 0;
}

.btn {
  font-size: 2em;
  color: #232323;
  padding: 0;
  text-decoration: none;
}

.btn:hover {
  color: #232323;
  text-decoration: underline;
}

.btn:focus {
  color: #232323;
  text-decoration: underline;
}

.plainlink {
  color: #232323;
  text-decoration: none;
}

.plainlink:hover {
  color: #232323;
  text-decoration: underline;
}



.logo {
  width: 100%;
  padding-bottom: 25px;
}

.description {
  font-size: 2em;
}

/* A propos and contact */
.cards {
  margin-top: 25px;
}

.card {
  background-color: none;
  border: 0;

}

.card-body {
  background-color: none;
  border: 0;
  padding: 0;
}

.card-header {
  background-color: #ffffff;
  border: 0;
  padding: 0px;
}



/* image */
.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: calc(100vh - 35px);
}

.project img {
  max-width: 100%;
  height: auto;
}

.imagecaption {
  text-align: left;
  max-width: 100%;
  padding: 0;
  margin-top: auto;
}


.imagelink {
  color: #232323;
  text-decoration: none;
}

.imagelink:hover {
  color: #232323;
  text-decoration: underline;
}

/* Typography */
h6 {
  font-family: 'SelectricMono', Georgia, serif;
  font-size: 8px;
  letter-spacing: -0.1rem;
  padding-top: 15;
}

p {
  font-size: 1em;
  margin-bottom: 5px;
}

@media (max-width: 767.98px) {

  .project {
    height: auto;
    padding-top: 2em;
  }
  
  .description {
    font-size: 1em;
  }
}