*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 280px 10px 10px 10px;
  padding: 0;
  overflow-x: hidden;
  font-family: Georgia, serif;
  cursor: default;
}

#toggleButton,
.fixed-dropdown {
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  padding: 10px;
  min-height: 280px;
  background-color: none;
}

.header-title {
  margin: 0px;
}

h1 {
  font-size: 32px;
  letter-spacing: -0.08rem;
}

h2 {
  font-size: 24px;
  letter-spacing: -0.08rem;
}

h3 {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h6 {
  font-size: 44px;
  letter-spacing: -0.1rem;
}

p {
  font-size: 13px;
  letter-spacing: -0.01rem;
  line-height: 1.1;
}

/* KEY IMAGE */
.keyimage {
  display: none;
  max-height: 260px;
  max-width: 325px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.articleimg {
  width: 100%;
  height: auto;
}

.show-image {
  display: block;
}

hr {
  border: none;
  border-top: 1px solid #000;
}

/* A propos */

#toggleButton {
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: filter 0.2s ease;
}

#toggleButton:hover {
  filter: blur(0.75px);
  opacity: 75%;
}

.blur {
  filter: blur(1px);
  opacity: 95%;
  transition: filter 0.3s ease;
}

#info {
  display: none;
  background-color: white;
  padding: 10px;
}

#dateText {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-left: 10px; /* Add spacing between the button and the text */
}

.eventblock.visible {
  color: grey;
}

/* dropdown */
.fixed-dropdown {
  position: fixed;
  top: 270px;
  left: 10px;
  z-index: 998;
  background-color: white;
}

.dropdown {
  padding-top: 10px;
}

.btn-custom {
  background-color: white;
  border: 1px solid #000;
  color: #000;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-radius: 0px;
}

.btn-custom:focus {
  box-shadow: none;
}

.dropdown-item-custom {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.dropdown-menu {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0px;
}

@media (max-width: 768px) {
  body {
    margin: 100px 10px 10px 10px;
  }

  .header {
    min-height: 80px;
    background-color: white;
  }

  .keyimage {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Hide the key image when it's not supposed to be visible */
  .keyimage:not(.show-image) {
    display: none;
  }

  /* dropdown */
  .fixed-dropdown {
    position: fixed;
    top: 90px;
    left: 10px;
  }
}
